<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel='stylesheet'  type='text/css' href="/style.css">

</head>
<body>
    <h1> Login Page </h1>

    <div id="stylized" class="myform">
        <form id="form" method="post" action="/regist">
        <h1>Login</h1>
        <label>Account
        <span class="small">Email</span>
        </label>
        <input type="text" name="email" id="email" />
        <label>Password
        <span class="small">Password</span>
        </label>
        <input type="password" name="password" id="password" />
        <button type="submit">Sign-in</button><br><br>
        <div class="spacer"></div>
        </form>
        <form method="" action="/regist">
            <button type="submit">Sign-up</button>
        </form>
        </div>

</body>
</html>